In [10]:
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

Getting data from seaborn

In [11]:
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

# Get the correlation data for the mpg column

In [12]:
corr_data = mpg.corr()[['mpg']].sort_values(by='mpg', ascending=False)
corr_data

                   mpg
mpg           1.000000
model_year    0.579267
acceleration  0.420289
cylinders    -0.775396
horsepower   -0.778427
displacement -0.804203
weight       -0.831741

#  Use the column with the strongest positive or negative correlation to the mpg column to split the data into test and training datasets

In [13]:
x_train, x_test, y_train, y_test = train_test_split(mpg[['weight']], mpg[['mpg']], test_size=0.2, random_state=35)

# Create a linear regression model

In [14]:
linearModel = LinearRegression()
linearModel.fit(x_train, y_train)

LinearRegression()

# Score the model using test dataset

In [15]:
linearModel.score(x_test, y_test)

0.6679234938018555

# Score the model using the training dataset

In [16]:
linearModel.score(x_train, y_train)

0.6953015543351673